name: CI/CD Pipeline

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  
jobs:
  compile:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '22'

      - name: Frontend Compilation
        run: |
          cd frontend
          find . -name "*.js" -exec node --check {} +

      - name: Backend Compilation
        run: |
          cd backend
          find . -name "*.js" -exec node --check {} +

  trivy_fs_scanning:
    runs-on: ubuntu-latest
    steps:
      - name: checkout-code
        uses: actions/checkout@v4
      - name: trivy scanning
        uses: aquasecurity/trivy-action@0.28.0
        with:
            scan-type: 'fs'
            scan-ref: '.'   # path which we want to scan
            format: 'table'  # result in table format
            ignore-unfixed: true
            vuln-type: 'os,library'
            severity: 'CRITICAL,HIGH'
            
        
  












          
