name: CI/CD Pipeline

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  
jobs:
  compile:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '22'

      - name: Frontend Compilation
        run: |
          cd frontend
          find . -name "*.js" -exec node --check {} +

      - name: Backend Compilation
        run: |
          cd backend
          find . -name "*.js" -exec node --check {} +

  trivy_fs_scanning:
    runs-on: ubuntu-latest
    needs: compile
    steps:
      - name: checkout-code
        uses: actions/checkout@v4
      - name: trivy scanning
        uses: aquasecurity/trivy-action@0.28.0
        with:
            scan-type: 'fs'
            scan-ref: '.'   # path which we want to scan
            format: 'table'  # result in table format
            ignore-unfixed: true
            vuln-type: 'os,library'
            severity: 'CRITICAL,HIGH'

  sonar-frontend:
    runs-on: ubuntu-latest
    needs: trivy_fs_scanning
    steps:
    - uses: actions/checkout@v4
      with:
        fetch-depth: 0

    - name: SonarCloud Scan (Frontend)
      uses: SonarSource/sonarcloud-github-action@v2
      env:
        SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
      with:
        args: >
          -Dsonar.organization=shantaveerkhyalap
          -Dsonar.projectKey=shantaveerkhyalap_frontend
          -Dsonar.sources=frontend



  sonar-backend:
    runs-on: ubuntu-latest
    needs: sonar-frontend
    steps:
    - uses: actions/checkout@v4
      with:
        fetch-depth: 0

    - name: SonarCloud Scan (Backend)
      uses: SonarSource/sonarcloud-github-action@v2
      env:
        SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
      with:
        args: >
          -Dsonar.organization=shantaveerkhyalap
          -Dsonar.projectKey=shantaveerkhyalap_backend
          -Dsonar.sources=backend

  Build_docker_image_and_push:
    runs-on: ubuntu-latest
    needs: [sonar-backend ]
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Login to Docker hub
        uses: docker/login-action@v3
        with:
          username: ${{ vars.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker buildx
        uses: docker/setup-buildx-action@v3 

      - name: Build and Push Docker Image
        uses: docker/build-push-action@v6
        with:
          context: ./frontend
          push: true
          tags: shantaveerkhyalap/frontend-chatapp:latest
          file: ./frontend/Dockerfile





     

