name: CI/CD Pipeline

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  
jobs:
  compile:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '22'

      - name: Frontend Compilation
        run: |
          cd frontend
          find . -name "*.js" -exec node --check {} +

      - name: Backend Compilation
        run: |
          cd backend
          find . -name "*.js" -exec node --check {} +

  gitleaks-scan:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Gitleaks Setup
        uses: gitleaks/gitleaks-action@v2

      - name: Gitleaks Scan
        run: |
          gitleaks detect --source ./frontend --no-git \
          --ignore-path .gitleaksignore \
          --exit-code 1 \
          --config-path .gitleaks.toml  # Add config file
          gitleaks detect --source ./backend --no-git \
          --ignore-path .gitleaksignore \
          --exit-code 1 \
          --config-path .gitleaks.toml













          
